<mat-toolbar>
    <span></span>
    <h1>Editar Factura </h1>
    <span></span>
    <button mat-icon-button><mat-icon  (click)="onNoClick()">cancel</mat-icon></button>
</mat-toolbar>

<form class="example-form" [formGroup]="invoiceForm">
    <div class="formulario">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>No. Factura</mat-label>
            <input matInput formControlName="nro_factura" name="nro_factura">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Fecha</mat-label>
            <input matInput formControlName="nombre">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>NI</mat-label>
            <input matInput formControlName="detalles">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre" name="nombre">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Precio</mat-label>
            <input matInput formControlName="precio">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Iva</mat-label>
            <input matInput formControlName="iva">
        </mat-form-field>

    </div>

    <div>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Sub-total</mat-label>
            <input matInput formControlName="sub_total">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Total</mat-label>
            <input matInput formControlName="total">
        </mat-form-field>
    </div>
</form>