<mat-toolbar>
    <span></span>
    <h1>Ver Factura </h1>
    <span></span>
    <button mat-icon-button><mat-icon  (click)="onNoClick()">cancel</mat-icon></button>
</mat-toolbar>

<div class="formulario">
    <mat-form-field class="example-full-width">
        <mat-label>No. Factura</mat-label>
        <input matInput value="{{factura.nro_factura}}" readonly>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Fecha</mat-label>
        <input matInput value="{{factura.fecha}}" readonly>
    </mat-form-field>
</div>

<div>
    <mat-form-field class="example-full-width">
        <mat-label>NI</mat-label>
        <input matInput value="{{factura.nit}}" readonly>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Nombre</mat-label>
        <input matInput value="{{factura.nombre}}" readonly>
    </mat-form-field>
</div>
<div>
    <mat-form-field class="example-full-width">
        <mat-label>Precio</mat-label>
        <input matInput value="{{factura.precio}}" readonly>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Iva</mat-label>
        <input matInput value="{{factura.iva}}" readonly>
    </mat-form-field>
</div>

<div>
    <mat-form-field class="example-full-width">
        <mat-label>Sub-total</mat-label>
        <input matInput value="{{factura.sub_total}}" readonly>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Total</mat-label>
        <input matInput value="{{factura.total}}" readonly>
    </mat-form-field>
</div>