@import '../../../../assets/styles/colors.scss';

.toolbar-backgorund{
    background: $secundary-blue;
}
.background-icon{
    background-color: white;
    color: black;
    margin-right: 1em;
}

.img-navbar{
 width: 7em;   
}