<mat-toolbar class="toolbar-backgorund">
   
    <!-- </button> -->
    <span><img class="img-navbar" src="../../../../assets/img/png/Logo_cassa_blanco.png"></span>
    <span class="navbar-button"></span>
    <!-- <span>nombre usuario</span> -->
    <button mat-mini-fab class="background-icon" aria-label="Example icon button with a menu icon">
    
        <mat-icon>person</mat-icon>
      </button>
      <button mat-mini-fab class="background-icon" (click)='rutas()' aria-label="Example icon button with a menu icon">
        <mat-icon >login</mat-icon>
        
      </button>
    
  
  </mat-toolbar>


