////////////Blue////////////////
$primary-blue: #1769A7;
$secundary-blue: #21A6DD;
$tertiary-blue: #7FC9FE;
$fourth-blue: #0066FF;
/////////Green///////////
$primary-green: #00703C;
$secundary-green: #1DB05A;
$primary-yellow: #C0D52C;
$primary-pink: #FFFAFA;
$primary-gray: #CBD5DF;
$black: #000000;
$white:#ffffff;